<section id="manpower" class="manpower">
    <div class="mp-division"> </div>
    <div class="mp-container">
        <span id="manpower-wrd">Manpower</span>
        <div class="mp-row">
            <div class="mp-single">
                <img src="../images/mp1.jpg" alt="" class="src">
                <span>Service</span>
                <p>Plumbing, Electrical</p>
                <span>Name</span>
                <p>John Doe</p>
            </div>
            <div class="mp-single">
                <img src="../images/mp5.jpg" alt="" class="src">
                <span>Service</span>
                <p>Garden Care, Cleaning</p>
                <span>Name</span>
                <p>John Doe</p>
            </div>
            <div class="mp-single">
                <img src="../images/mp2.jpg" alt="" class="src">
                <span>Service</span>
                <p>Plumbing, Electrical</p>
                <span>Name</span>
                <p>Isaac Apple</p>
            </div>
            <div class="mp-single">
                <img src="../images/mp4.jpg" alt="" class="src">
                <span>Service</span>
                <p>Garden Care</p>
                <span>Name</span>
                <p>Jane Doe</p>
            </div>
        </div>
    </div>
</section>