<section class="sec-profile">
    <div class="bg-profile">
       <h3>Good Afternoon John Doe!</h3>
       <div class="profile-dtl">
            <div class="profile-img">
                <img src="../layout/profile.PNG" alt="" srcset="">
            </div>
            <div class="profile-info">
                <h4>Your nex booking is on <span id="date"> Monday, 02/15/2021</span> at <span id="time"> 09:00 AM</span></h4>
                <div class="profile-data">
                    <div class="label">
                        <span>Provider</span>
                        <span>Amount</span>
                        <span>Service</span>
                        <span>Category</span>
                        <span>Location</span>
                    </div>
                    <div class="colon">
                        <span>:</span>
                        <span>:</span>
                        <span>:</span>
                        <span>:</span>
                        <span>:</span>
                    </div>
                    <div class="data">
                        <span id="name">John Doe</span>
                        <span id="serviceFee">$120.00</span>
                        <span id="service">Plumbing</span>
                        <span id="category">Hourly</span>
                        <span id="location">320 West Illinois Street, Chicago, IL, USA</span>
                    </div>
                </div>
            </div>
       </div>
    </div>
</section>