<section class="top">
    <header class="oxified">
        <a href="">OXIFIED</a>
    </header>
    <div class="nav-bar">
        <ul>
            <li><a href="#">Book Now</a></li>
            <li><a href="#">Booking</a></li>
            <li><a onclick="displayPage(`layout/display/manpower`)">Manpower</a></li>
            <li><a onclick="displayPage('./layout/display/service')">Services</a></li>
            <li><a>Contact Us</a></li>
            <!-- <li><a href="">Cst</a></li> -->
            <!-- <li><div href="" class="dropdown"><img src="../images/mp5.jpg" alt="" class="src" id="img"></div></li> -->
        </ul>
        <div class="dropdown">
            <a href=""><img src="../images/mp5.jpg" alt="" class="src" id="img"></a>
            <!-- <a href="#">Dropdown Menu</a> -->
            <div class="dropdown-content">
                <a class="logout" href="#" onclick="logout()">Logout</a>
            </div>
        </div>
    </div>   
</section>
