.weight-normal {
  font-weight: 300;
}

.message-inbox {
  padding: 1px;
}

.flex {
  display: flex;
  align-items: center;
}
.flex.center {
  justify-content: center;
}
.flex.space-between {
  justify-content: space-between;
}

.flex-item {
  display: inline-flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flex-column.center {
  justify-content: center;
}
.flex-column.space-between {
  justify-content: space-between;
}

.grid.one-column {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;
}

.grid.two-columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
}

.grid.three-columns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
}

.grid.four-columns {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
}

.grid.five-columns {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
}

.message-inbox:hover {
  background-color: #252B47;
  cursor: pointer;
}

@-webkit-keyframes slideaway {
  from {
    display: block;
  }
  to {
    transform: translatex(-100%);
    opacity: 0;
  }
}

@keyframes slideaway {
  from {
    display: block;
  }
  to {
    transform: translatex(-100%);
    opacity: 0;
  }
}
@-webkit-keyframes slidein {
  from {
    transform: translatex(-100%);
    opacity: 0;
  }
  to {
    transform: translatex(0%);
    opacity: 100;
  }
}
@keyframes slidein {
  from {
    transform: translatex(-100%);
    opacity: 0;
  }
  to {
    transform: translatex(0%);
    opacity: 100;
  }
}
body {
  margin: 0;
  padding: 0;
  font-family: "Solway", serif;
  background-color: #FAFCFF;
}
body label {
  font-weight: 700;
}

@media (min-width: 720px) {
  .header, .header.pages {
    color: #000;
    width: 100%;
    z-index: 333;
  }
  .header .nav-container .nav-split-container {
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
  }
  .header .nav-container ul.nav-list {
    display: flex;
    height: 40px;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: space-between;
  }
  .header .nav-container ul.nav-list li {
    display: inline-flex;
  }
  .header .nav-container ul.nav-list .nav-btn-join {
    padding: 10px 30px;
    background-color: #F2EFEB;
    color: #000;
    text-transform: capitalize;
  }
  .header .btn-home-service-cta {
    text-transform: uppercase;
  }
  .header .nav-split-container {
    display: flex;
  }
  .header .nav-split-container .nav-split-content {
    display: flex;
    padding: 20px 30px;
    width: 100%;
    align-items: center;
  }
  .header .nav-split-container .nav-split-content .nav-list {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    color: #E5EDFF;
  }
  .header .nav-split-container .nav-split-content .nav-list .logo {
    font-size: 30px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
    font-family: "Playfair Display SC", serif;
  }
  .header.pages {
    background-color: #252B47;
  }
  div.main-container {
    position: relative;
    width: 100%;
    display: flex;
    color: #E5EDFF;
  }
  div.main-container .main-content {
    width: 1300px;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }
  div.main-container .main-content .hero-container {
    display: flex;
    height: 100%;
    align-items: center;
  }
  div.main-container .main-content .hero-container .hero {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
  div.main-container .main-content .hero-container .hero .title {
    font-size: 75px;
    text-align: center;
    font-family: "Playfair Display SC", serif;
  }
  div.main-container .main-content .hero-container .hero .cta-container {
    display: flex;
    justify-content: center;
  }
  div.main-container .main-content .hero-container .hero .cta-container .cta-content {
    display: flex;
    justify-content: center;
    padding: 15px;
    width: 450px;
  }
  div.main-container .main-content .hero-container .hero .cta-container .cta-content .btn-home-service-cta {
    padding: 20px 30px;
    background-color: #F2EFEB;
    color: #000;
  }
  div.main-container .main-content .hero-container .hero .cta-container .cta-content .find {
    margin-right: 10px;
  }
  div.main-container .main-content .hero-container .hero .cta-container .cta-content .offer {
    margin-left: 10px;
  }
  div.main-container .home-bg-container {
    position: absolute;
    top: -78px;
    width: 100%;
    z-index: -999;
  }
  div.main-container .home-bg-container .home-bg-content {
    display: flex;
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
  }
  div.main-container .home-bg-container .home-bg-content .home-bg-split-content {
    height: 95vh;
    width: 100%;
  }
  div.main-container .home-bg-container .home-bg-content .left {
    background-color: #252B47;
  }
  div.main-container .home-bg-container .home-bg-content .right {
    position: relative;
    background-size: cover;
    transform: scale();
  }
  div.main-container .home-bg-container .home-bg-content .right .img-home-bg-right {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #252B47;
    background-image: url("../images/Photo - home.jpg");
    background-size: cover;
    background-clip: border-box;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: overlay;
  }
  section {
    width: 100%;
  }
  section .section-content {
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
  }
  section .section-content .card-service {
    display: inline-block;
    text-align: center;
    margin-top: 50px;
  }
  section .section-content .card-service .card-service-title {
    margin: 20px;
    text-transform: capitalize;
    font-family: "Playfair Display SC", serif;
    font-size: 20px;
  }
  section .section-content .grid.manpower, section .section-content .grid.services {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
  }
  section .section-content .grid.booking {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
  }
  section .section-content .profile-img {
    width: 200px;
    height: 200px;
  }
  section .section-content .service-img {
    width: 271px;
    height: 173px;
  }
  section .section-content .card-details {
    margin-top: 10px;
    text-align: left;
  }
  section .section-content .button.edit-profile {
    padding: 10px 30px;
    background-color: #F2EFEB;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    padding: 0;
    height: 40px;
  }
  .booking-appointment-next {
    display: flex;
    height: 250px;
    margin: 10px 0;
  }
  .booking-appointment-next .details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 30px;
    justify-items: space-between;
  }
  .booking-appointment-next .details label.weight-normal.booking-label {
    display: inline-flex;
    width: 100px;
  }
  .text-base-content {
    width: 360px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #FFFFFF;
    padding: 15px 5px;
  }
  .text-base-content .card-date-price {
    display: flex;
    justify-content: space-between;
  }
  .text-base-content .card-service-category {
    display: flex;
  }
  .text-base-content .card-service-category .label-info {
    width: 100%;
  }
  .text-base-content .card-service-category .label-info label {
    display: block;
    margin-bottom: 10px;
  }
  .text-base-content .card-buttons {
    display: flex;
  }
  .text-base-content .card-buttons .btn {
    padding: 10px 30px;
    background-color: #F2EFEB;
    color: #000;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 5px;
    font-size: 16px;
    width: 170px;
    text-align: center;
  }
  .text-base-content .card-location .label-info label {
    display: block;
    margin-bottom: 10px;
  }
  .modal-container {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .modal-container .modal-content {
    position: relative;
  }
  .modal-container .modal-content .btn-messenger {
    width: 75px;
    height: 75px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    bottom: 0;
    box-shadow: 5px 5px 8px rgba(37, 43, 71, 0.5);
  }
  .modal-container .modal-content .btn-messenger:hover {
    width: 77px;
    height: 77px;
  }
  .modal-container .modal-content .search-content {
    display: flex;
    justify-content: center;
    position: relative;
  }
  .modal-container .modal-content .search-content::before {
    position: absolute;
    left: 0;
    top: 10px;
    content: url("../images/search-icon.svg");
  }
  .modal-container .modal-content .search-content .search {
    width: 100%;
    height: 30px;
    margin: 5px 0;
    padding-left: 30px;
  }
  .modal-container .messenger {
    position: absolute;
    right: 40px;
    bottom: 75px;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 5px 5px 8px rgba(37, 43, 71, 0.5);
    transition-timing-function: ease-in;
    transition: 0.5s;
    height: 0px;
    width: 0px;
    opacity: 0;
  }
  .modal-container .messenger .message-inbox-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin: 1px 0;
    background-color: rgb(221, 214, 214);
  }
  .modal-container .messenger .message-inbox-content .not-my-profile-picture {
    padding: 5px;
  }
  .modal-container .messenger .message-inbox-content .not-my-profile-picture .inbox-profile-picture {
    width: 30px;
    height: 30px;
    border-radius: 50px;
  }
  .modal-container .messenger .message-inbox-content .not-my-name-last-message {
    width: 100%;
    padding: 0 5px;
  }
  .modal-container .messenger.show {
    opacity: 100;
    height: 500px;
    width: 300px;
    background-color: rgb(236, 231, 231);
    z-index: 2;
    -webkit-animation: slidein 0.5s;
            animation: slidein 0.5s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  .modal-container .messenger.show.clicked {
    -webkit-animation: slideaway 0.5s;
            animation: slideaway 0.5s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  .modal-container .convo {
    position: absolute;
    height: 500px;
    width: 0px;
    background-color: rgb(236, 231, 231);
    right: 40px;
    bottom: 75px;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 5px 5px 8px rgba(37, 43, 71, 0.5);
    transition-timing-function: ease-in;
    transition: 0.5s;
    opacity: 0;
  }
  .modal-container .convo.show {
    width: 300px;
    opacity: 100;
    transition: width 0.5s;
  }
  .modal-container .convo.show .convo-header {
    padding: 5px 10px;
    box-shadow: 1px 1px 4px 1px #000;
  }
  .modal-container .convo.show .convo-main-container .convo-main-content {
    padding: 10px 10px;
    margin: 10px 0;
  }
  .modal-container .convo.show .convo-main-container .convo-main-content .message-content {
    margin-bottom: 10px;
  }
  .modal-container .convo.show .convo-main-container .convo-main-content .message-content .message-body {
    border-radius: 50px 50px 0px 50px;
    background-color: #acb1c5;
  }
  .modal-container .convo.show .convo-main-container .convo-main-content .message-content .message-body.not-mine {
    border-radius: 50px 50px 50px 0;
    background-color: #acb6e2;
  }
  .modal-container .convo.show .convo-main-container .message-profile-picture-container {
    width: 32px;
    height: 32px;
    padding: 2px;
  }
  .modal-container .convo.show .convo-main-container .message-profile-picture-container img {
    width: 30px;
    height: 30px;
    border-radius: 50px;
  }
  .modal-container .convo.show .goto-icon, .modal-container .convo.show .btn-message-back {
    width: 30px;
    cursor: pointer;
  }
  .modal-container .convo.show img {
    width: 20px;
    height: 20px;
  }
  .modal-container .convo.show .message-body {
    position: relative;
    padding: 9px 5px;
    background-color: rgb(209, 203, 203);
    margin-bottom: 2px;
  }
  .modal-container .convo.show .message-body p {
    display: inline;
    padding-left: 5px;
  }
  .modal-container .convo.show .message-body .message-time {
    position: absolute;
    bottom: -9px;
    right: 0;
    padding: 0 10px;
  }
  .modal-container .convo.show .message-body .message-time.not-mine {
    left: 0;
  }
}/*# sourceMappingURL=style.css.map */